# Non-sensitive configuration from environment variables
## Global repository variables    
VITE_AWS_REGION=""
VITE_AWS_REGION_CITY=""
## Per environment variables
VITE_ENV =""
VITE_EMAIL_SUBDOMAIN=""
VITE_DOMAIN_NAME=""
VITE_SMS_ENABLED=""
# Sensitive data from secrets (automatically masked in logs)
## Global repository secrets
AWS_ACCOUNT_ID=""
STACK_BASE_NAME=""
## Per environment secrets
VITE_GOOGLE_ANALYTICS_ID=""
VITE_COGNITO_USER_POOL_ID="" # add after deploymment
VITE_COGNITO_CLIENT_ID="" # add after deploymment
VITE_COGNITO_ISSUER="" # add after deploymment
VITE_COGNITO_DOMAIN="" # add after deploymment