# Non-sensitive configuration from environment variables
## Global repository variables    

## Per environment variables
VITE_SMS_ENABLED=""
# Sensitive data from secrets (automatically masked in logs)
## Global repository secrets
AWS_ACCOUNT_ID=""
STACK_BASE_NAME=""
## Per environment secrets
VITE_GOOGLE_ANALYTICS_ID=""
