VITE_ENV =""
VITE_GOOGLE_ANALYTICS_ID=""
VITE_EMAIL_SUBDOMAIN=""
VITE_DOMAIN_NAME=""
VITE_AWS_REGION=""
VITE_AWS_REGION_CITY=""

VITE_COGNITO_USER_POOL_ID="" # add after deploymment
VITE_COGNITO_CLIENT_ID="" # add after deploymment
VITE_COGNITO_ISSUER="" # add after deploymment
VITE_COGNITO_DOMAIN="" # add after deploymment