# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.env.prod
.env.dev
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.webpack/

# screenshots
*.png

# chrome profiles
*chrome_profile/
*chrome/

# IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db 

# Server
.serverless
db.json
*node_modules
*build
Server/build/
Server/dist/
15

*chrome-layer
*chromedriver-layer
note.md
#dev
*oldversion