# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Sensitive data
Server/WoltFlow/secret.json
Server/WoltFlow/cookies/
*.png
Server/WoltFlow/temp_profile_*/
Server/WoltFlow/chrome_profile/
Server/WoltFlow/chrome/*/master_preferences
Server/WoltFlow/chrome_profiles/*/master_preferences

# IDE
.idea/
.vscode/
.cursor/
*.swp
*.swo

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db 

.serverless
*.pyc
*.pyo
db.json
__pycache__/
temp_profile_*/
screenshots/
chrome_profiles/
chrome/*/master_preferences
chrome_profiles/*/master_preferences
*chrome
*node_modules
