# Non-sensitive configuration from environment variables
## Global repository variables
AWS_REGION=""
DOMAIN_NAME_LOCAL=""
## Per environment variables
DOMAIN_NAME_CLOUD=""
EMAIL_SUBDOMAIN=""
ENABLED_SMS=""
DEVELOPMENT_DATE=""

# Sensitive data from secrets (automatically masked in logs)
## Global repository secrets
AWS_ACCOUNT_ID=""
CERTIFICATE_ARN=""
HOSTED_ZONE_ID=""
LAMBDA_SECURITY_GROUP_ID=""
LAMBDA_SUBNET_ID=""
SERVERLESS_ACCESS_KEY=""
## Per environment secrets
COGNITO_USER_POOL_ID="" # add after deploymment
COGNITO_ISSUER="" # add after deploymment
COGNITO_CLIENT_ID="" # add after deploymment
DATABASE_URL_CLOUD=""
DATABASE_URL_LOCAL=""
ENCRYPTION_KEY=""
JWT_SECRET=""
S3_ASSETS_BUCKET_NAME=""
S3_CLIENT_BUCKET_NAME=""
S3_EMAIL_BUCKET_NAME=""

# IS_LOCAL=false # add when removing

# FRONTEND ENV VITE
VITE_GOOGLE_ANALYTICS_ID=""
VITE_ENV=""
VITE_DOMAIN_NAME=""
VITE_EMAIL_SUBDOMAIN=""
VITE_AWS_REGION=""
VITE_AWS_REGION_CITY=""

VITE_COGNITO_DOMAIN="" # add after deploymment
VITE_COGNITO_CLIENT_ID="" # add after deploymment
VITE_COGNITO_ISSUER="" # add after deploymment

