#AWS
AWS_ACCESS_CONNECT_KEY=""
AWS_ACCESS_SECRET=""
AWS_ACCOUNT_ID=""

S3_ASSETS_BUCKET_NAME_DEV=""
S3_ASSETS_BUCKET_NAME_PROD=""
S3_BUCKET_NAME_DEV=""
S3_BUCKET_NAME_PROD=""

CLOUDFRONT_DISTRIBUTION_ID_DEV=""
CLOUDFRONT_DISTRIBUTION_ID_PROD=""

AWS_REGIONS=""

DOMAIN_NAME_DEV=""
DOMAIN_NAME_PROD=""

CERTIFICATE_ARN_DEV=""
CERTIFICATE_ARN_PROD=""


HOSTED_ZONE_ID=""

#Serverless
SERVERLESS_ACCESS_KEY=""

#Database
DATABASE_URL_LOCAL=""
DATABASE_URL_DEV=""
DATABASE_URL_PROD=""

#JWT
JWT_SECRET=""

#Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OAUTH_REDIRECT_URI_LOCAL=""
OAUTH_REDIRECT_URI_DEV=""
OAUTH_REDIRECT_URI_PROD=""

#Function names
REFRESH_TOKENS_FUNCTION_NAME=""
WOLT_BUY_GIFT_FUNCTION_NAME=""
GET_DAILY_CODE_FUNCTION_NAME=""
WOLT_APPLY_GIFT_FUNCTION_NAME=""
#Developmrnt
DEVELOPMENT_DATE=""


# FRONTEND ENV VITE
VITE_GOOGLE_ANALYTICS_ID=""