# AWS
AWS_ACCOUNT_ID=""
EMAIL_SUBDOMAIN=""
CLOUDFRONT_DISTRIBUTION_ID=""
AWS_REGION=""
DOMAIN_NAME=""
CERTIFICATE_ARN=""
HOSTED_ZONE_ID=""

# S3
S3_EMAIL_BUCKET_NAME=""
S3_ASSETS_BUCKET_NAME=""
S3_CLIENT_BUCKET_NAME=""

# SERVERLESS
SERVERLESS_ACCESS_KEY=""

# DATABASE
DATABASE_URL=""

# APP
ENABLED_SMS=""
JWT_SECRET=""

# GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OAUTH_REDIRECT_URI=""

# DEVELOPMENT
DEVELOPMENT_DATE=""

# FRONTEND ENV VITE
VITE_GOOGLE_ANALYTICS_ID=""
VITE_ENV=""
VITE_DOMAIN_NAME=""
VITE_EMAIL_SUBDOMAIN=""
VITE_AWS_REGION=""
VITE_AWS_REGION_CITY=""